<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
 	
 	<typeAliases>
 		<typeAlias type="com.go.wherego.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.go.wherego.trip.model.vo.Trip" alias="Trip"/>
 		<typeAlias type="com.go.wherego.weather.model.vo.Weather" alias="Weather"/>
 		<typeAlias type="com.go.wherego.trip.model.vo.Reply" alias="Reply"/>
 		<typeAlias type="com.go.wherego.trip.model.vo.Likes" alias="Likes"/>
 		<typeAlias type="com.go.wherego.entertain.model.vo.WC" alias="WC"/>
 		<typeAlias type="com.go.wherego.review.model.vo.Review" alias="Review"/>
 		<typeAlias type="com.go.wherego.review.model.vo.ReviewReply" alias="ReviewReply"/> 
 	</typeAliases>
 	
 
</configuration>