<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="entertainMapper">

	<!-- Trip ResultMap -->
	<resultMap type="Trip" id="tripResultSet">
		<result column="CONTENT_ID" property="contentId" />
		<result column="CONTENT_TYPE_ID" property="contentTypeId" />
		<result column="TITLE" property="title" />
		<result column="ADDR1" property="addr1" />
		<result column="ADDR2" property="addr2" />
		<result column="ZIP_CODE" property="zipCode" />
		<result column="AREA_CODE" property="areaCode" />
		<result column="FIRST_IMAGE2" property="firstImage2" />
		<result column="FIRST_IMAGE" property="firstImage1" />
	</resultMap>
	
	<resultMap type="WC" id="wcResultSet">
		<result column="USER_ID" property="userId"/>
		<result column="GENDER" property="gender"/>
		<result column="AGE" property="age"/>
		<result column="MBTI" property="MBTI"/>
		<result column="TAG_WORD" property="tagWords"/>
		<result column="TITLE" property="title"/>	
		<result column="FIRST_IMAGE2" property="firstImage2"/>
		<result column="contentId" property="count"/>
	</resultMap>
	
	<resultMap type="hashmap" id="mapMbti">
		<result column="mbti" property="mbti"/>
		<result column="count" property="count"/>
	</resultMap>
	
	<resultMap type="hashmap" id="mapAge">
		<result column="age" property="age"/>
		<result column="count" property="count"/>
	</resultMap>
	
	<resultMap type="hashmap" id="mapGender">
		<result column="gender" property="gender"/>
		<result column="count" property="count"/>
	</resultMap>


	<select id="getTop100" resultMap="tripResultSet">
		<![CDATA[SELECT CONTENT_ID
		,CONTENT_TYPE_ID
		,TITLE
		,ADDR1
		,ADDR2
		,ZIP_CODE
		,AREA_CODE
		,FIRST_IMAGE
		,COUNT
		,ROWNUM
		FROM (
		SELECT *
		FROM TRIP
		WHERE FIRST_IMAGE IS NOT NULL
		AND CONTENT_TYPE_ID = '12'
		ORDER BY COUNT DESC
		)	
		WHERE ROWNUM <=]]> 100	
	</select>
	
	<insert id="insertWCResult" parameterType="WC">
		INSERT INTO WC (WC_NO,
						USER_ID,
						AGE,
						GENDER,
						TAG_WORD,
						TITLE,
						MBTI)
				 VALUES(
            		 WC_SEQ.NEXTVAL
            	   ,#{userId}
            	   ,#{age}
            	   ,#{gender}
            	   ,#{tagWords}
            	   ,#{title}
            	   ,#{MBTI}
            	 )
	</insert>
	
	
	<select id="getWcRanking" resultMap="wcResultSet">
		<![CDATA[SELECT TITLE,FIRST_IMAGE2,CONTENT_ID,cnt
FROM (
    SELECT TITLE,cnt
    FROM (
        SELECT TITLE,COUNT(*) AS cnt
        FROM WC
        GROUP BY title
        ORDER BY cnt desc
    )
    WHERE ROWNUM <= 10]]>
) 
JOIN trip using(title)
ORDER BY cnt desc
	</select>
	
	<select id="getEntireGame" resultType="int">
		SELECT COUNT(*)
		FROM WC
	</select>
	
	<select id="getWinTime" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM WC
		WHERE TITLE=#{title}
	</select>
	
	
	<select id="getWcMbti" parameterType="String" resultMap="mapMbti"> 
	<!-- <select id="getWcMbti" parameterType="String" resultType="hashmap"> -->
		<![CDATA[SELECT MBTI,COUNT
	FROM (
    SELECT MBTI, COUNT(*) AS COUNT
    FROM WC
    WHERE TITLE = #{title}
    GROUP BY MBTI
    ORDER BY COUNT(*) DESC
	)
	WHERE ROWNUM <=]]> 3
	</select>
	
	<select id="getMbtiCount">
		SELECT COUNT(*)
		FROM WC
		WHERE TITLE=#{title}
	</select>
	
	
	<select id="getWcAge" parameterType="String" resultMap="mapMbti"> 
		<![CDATA[SELECT AGE,COUNT
	FROM (
    SELECT AGE, COUNT(*) AS COUNT
    FROM WC
    WHERE TITLE = #{title}
    GROUP BY AGE
    ORDER BY COUNT(*) DESC
	)
	WHERE ROWNUM <=]]> 3
	</select>
	
	<select id="getWcGender" parameterType="String" resultMap="mapGender"> 
		<![CDATA[SELECT GENDER,COUNT
	FROM (
    SELECT GENDER, COUNT(*) AS COUNT
    FROM WC
    WHERE TITLE = #{title}
    GROUP BY GENDER
    ORDER BY COUNT(*) DESC
	)
	WHERE ROWNUM <=]]> 3
	</select>
	
</mapper>
