<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripMapper">
	
	<!-- Trip ResultMap -->
	<resultMap type="Trip" id="tripResultSet">
		<result column="CONTENT_ID" property="contentId"/>
		<result column="CONTENT_TYPE_ID" property="contentTypeId"/>
		<result column="TITLE" property="title"/>
		<result column="ADDR1" property="addr1"/>
		<result column="ADDR2" property="addr2"/>
		<result column="ZIP_CODE" property="zipCode"/>
		<result column="AREA_CODE" property="areaCode"/>
		<result column="FIRST_IMAGE" property="firstImage1"/>
		<result column="FIRST_IMAGE2" property="firstImage2"/>
		<result column="COUNT" property="count"/>
		<result column="LIKE_COUNT" property="likeCount"/>
	</resultMap>
	
	<!-- Reply ResultMap -->
	<resultMap type="Reply" id="replyResultSet">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="CONTENT_ID" property="contentId"/>
		<result column="USER_ID" property="userId"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<!-- 여행지 Top5 조회 -->
	<select id="selectTripTopList" resultMap="tripResultSet">
		SELECT *
		FROM(SELECT *
		     FROM TRIP
		     ORDER BY LIKE_COUNT DESC, COUNT DESC)
		WHERE ROWNUM BETWEEN 1  AND 5 
	</select>
	
	<!-- 지역별 데이터 저장 -->
	<insert id="saveArea" parameterType="arraylist">
		INSERT ALL
		<foreach collection="list" item="Trip">
			INTO TRIP(CONTENT_ID
					 ,CONTENT_TYPE_ID
					 ,TITLE
					 ,ADDR1
					 ,ADDR2
					 ,ZIP_CODE
					 ,AREA_CODE
					 ,FIRST_IMAGE
					 ,FIRST_IMAGE2)
			VALUES(#{Trip.contentId}
				  ,#{Trip.contentTypeId}
				  ,#{Trip.title}
				  ,#{Trip.addr1}
				  ,#{Trip.addr2}
				  ,#{Trip.zipCode}
				  ,#{Trip.areaCode}
				  ,#{Trip.firstImage1}
				  ,#{Trip.firstImage2})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<!-- 목록별 전체 개수 -->
	<select id="listCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) 
		FROM TRIP 
		WHERE FIRST_IMAGE2 IS NOT NULL 
		AND CONTENT_TYPE_ID=#{contentTypeId}
	</select>
	
	<!-- 목록별 지역별 총 개수 -->
	<select id="areaListCount" parameterType="Trip" resultType="_int">
		SELECT COUNT(*) 
		FROM TRIP 
		WHERE FIRST_IMAGE2 IS NOT NULL 
		AND CONTENT_TYPE_ID=#{contentTypeId}
		AND AREA_CODE = #{areaCode}
	</select>
	
	<!-- 목록별 전체 조회 -->
	<select id="selectList" parameterType="string" resultMap="tripResultSet">
		SELECT CONTENT_ID
			  ,CONTENT_TYPE_ID
			  ,TITLE
			  ,ADDR1
			  ,ADDR2
			  ,ZIP_CODE
			  ,AREA_CODE
			  ,FIRST_IMAGE2
			  ,COUNT
			  ,LIKE_COUNT
		FROM TRIP 
		WHERE FIRST_IMAGE2 IS NOT NULL 
		AND CONTENT_TYPE_ID= #{contentTypeId}
	</select>
	
	<!-- 목록별 지역별 조회 -->
	<select id="selectAreaList" parameterType="Trip" resultMap="tripResultSet">
		SELECT CONTENT_ID
			  ,CONTENT_TYPE_ID
			  ,TITLE
			  ,ADDR1
			  ,ADDR2
			  ,ZIP_CODE
			  ,AREA_CODE
			  ,FIRST_IMAGE2
			  ,COUNT
			  ,LIKE_COUNT
		FROM TRIP 
		WHERE FIRST_IMAGE2 IS NOT NULL 
		AND CONTENT_TYPE_ID= ${contentTypeId}
		AND AREA_CODE = ${areaCode}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="increaseCount" parameterType="string">
		UPDATE TRIP 
		SET COUNT = COUNT +1
		WHERE CONTENT_ID = #{contentId}
	</update>
	
	<!-- 조회수 가져오기 -->
	<select id="selectCount" parameterType="string" resultType="_int">
		SELECT COUNT
		FROM TRIP
		WHERE CONTENT_ID = #{contentId}
	</select>
	
	<!-- 좋아요 count 조회 -->
	<select id="selectLikeCount" parameterType="string" resultType="_int">
		SELECT LIKE_COUNT
		FROM TRIP
		WHERE CONTENT_ID = #{contentId}
	</select> 
	
	<!-- 좋아요 여부 -->
	<select id="likeYN" parameterType="Likes" resultType="string">
		SELECT USER_ID
		FROM LIKES 
		WHERE USER_ID= #{userId} 
		AND CONTENT_ID= #{contentId}
	</select>
	
	<!-- 좋아요 정보 추가 -->
	<insert id="insertLike" parameterType="Likes">
		INSERT INTO LIKES(LIKE_NO, 
						  USER_ID, 
						  CONTENT_ID)
                  	VALUES(SEQ_LIKE.NEXTVAL,
                  		   #{userId},
                  		   #{contentId})
	</insert>
	
	<!-- 좋아요 count 증가 -->
	<update id="increaseLike" parameterType="Likes">
		UPDATE TRIP 
		SET LIKE_COUNT = LIKE_COUNT+1
		WHERE CONTENT_ID = #{contentId}
	</update>
	
	<!-- 좋아요 정보 삭제 -->
	<delete id="deleteLike" parameterType="Likes">
		DELETE FROM LIKES 
		WHERE USER_ID= #{userId} 
		AND CONTENT_ID= #{contentId}
	</delete>
	
	<!-- 좋아요 count 감소 -->
	<update id="decreaseLike" parameterType="Likes">
		UPDATE TRIP 
		SET LIKE_COUNT = LIKE_COUNT-1
		WHERE CONTENT_ID = #{contentId}
	</update>
	
	<!-- 댓글 리스트 -->
	<select id="replyList" parameterType="string" resultMap="replyResultSet">
		SELECT REPLY_NO
			  ,CONTENT_ID
			  ,USER_ID
			  ,REPLY_CONTENT
			  ,CREATE_DATE
		FROM TRIP_REPLY 
		WHERE CONTENT_ID=#{contentId}
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO TRIP_REPLY(REPLY_NO, 
							   CONTENT_ID, 
							   USER_ID, 
							   REPLY_CONTENT, 
							   CREATE_DATE)
               			VALUES(SEQ_TRP.NEXTVAL,
               				   #{contentId},
               				   #{userId},
               				   #{replyContent},
               				   SYSDATE)
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="Reply">
		UPDATE TRIP_REPLY 
		SET REPLY_CONTENT = #{replyContent} 
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="_int">
		DELETE TRIP_REPLY 
		WHERE REPLY_NO = #{replyNo}
	</delete>
	
	<!-- 검색기능 -->
	<select id="searchTrip" parameterType="hashmap" resultMap="tripResultSet">
		SELECT CONTENT_ID
			  ,CONTENT_TYPE_ID
			  ,TITLE
			  ,ADDR1
			  ,ADDR2
			  ,ZIP_CODE
			  ,AREA_CODE
			  ,FIRST_IMAGE2
			  ,COUNT
		FROM TRIP
		WHERE FIRST_IMAGE2 IS NOT NULL
		<if test="id != 0">
		AND CONTENT_TYPE_ID=#{id}
		</if>
		AND TITLE LIKE '%'||#{keyword}||'%'
		ORDER BY COUNT DESC
	</select>
	
	<select id="countByKeyword" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*) FROM TRIP
		WHERE FIRST_IMAGE2 IS NOT NULL
		<if test="id != 0">
		AND CONTENT_TYPE_ID=#{id}
		</if>
		AND TITLE LIKE '%'||#{keyword}||'%'
	</select>
</mapper>
