.plan-container {
	width: 100%;
	margin: 0px auto;
	display: flex;
	min-height: 1080px;
	height: auto;
}

/* 일정(days) */
.days-box {
	width: 8%;
	box-sizing: border-box;
	background-color: #2C3E50;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.days-box-content {
	display: flex;
	flex-direction: column;
}
.days-box-title {
	height: 80px;
	color: white;
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	border-bottom: 2px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.day-box {
	height: 100px;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
	border-bottom: 2px solid lightgray;
	cursor: pointer;
}
.day-box span {
	display: block;
	margin: 15px 0;
}
.fomat-date {
	font-size: 16px;
}

/* plan-box(플랜 목록) */
.day-plan-box {
	width: 15%;
	background-color: #f4f4f9;
	border: 2px solid lightgray;
}
.plans-box-title {
	height: 80px;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}
.plan-box {
    position: relative; /* 상대 위치 설정 */
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 2px solid lightgray;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    padding-right: 30px; /* 삭제 버튼과 제목 사이의 간격을 주기 위해 오른쪽 패딩 추가 */
}
.plan-delete {
    position: absolute; /* 절대 위치 설정 */
    top: 10px; /* 상단에서 10px 떨어져 위치 */
    right: 10px; /* 우측에서 10px 떨어져 위치 */
    background-color: white;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 50%; /* 원 모양으로 만들기 위해 반지름 지정 */
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 15px; /* 버튼 크기 조정 */
    height: 15px; /* 버튼 크기 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-delete:hover {
    background-color: black;
    color: white;
}
.plan-title {
	font-size: 24px;
	font-weight: 900;
}
.plan-box span {
	display: block;
	margin-bottom: 15px;
}
.plan-box input{
	width: 170px;
}

/* search-box(검색) */
.search-box {
	width: 22%;
	background-color: #f4f4f9;
	border: 2px solid lightgray;
}
.search-box input {
	width: 60%;
	height: 30px;
	border-radius: 5px;
	font-size: 16px;
}
.search-box button {
	margin-left: 10px;
	width: 80px;
	height: 30px;
	background-color: white;
	text-align: center;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
.search-box-list {
	border-bottom: 2px solid lightgray;
	min-height: 100px;
	display: flex;
	align-items: center;
	padding: 10px;
}
.search-box-list img {
	width: 12%;
}
.list-content {
	width: 80%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.list-title {
	font-size: 21px;
	font-weight: 900;
}
.list-addr {
	color: grey;
}
.search-box-list button {
	width: 8%;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-box-list button:hover {
	background-color: black;
	color: white;
}
/* search-box-pagingbar */
#pagingbar-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#pagingbar-area a, #pagingbar-area span {
    margin: 0 5px;
    padding: 8px 12px;
    border: 2px solid black;  
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
#pagingbar-area span {
    background-color: black;
    color: white;
}
#pagingbar-area a:hover {
    background-color: white;
    color: black;
}

/* map(맵) */
.map-box {
	width: 55%;
	background-color: #f4f4f9;
}

/* 버튼 */
.save-button {
	display: flex;
	justify-content: center; padding : 10px;
	margin-left: -15px;
	margin-bottom: 50px;
	padding: 10px;
}